# fly.toml app configuration file generated for whiteboard-backend-sparkling-tree-1993 on 2026-02-11T02:49:15+07:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'whiteboard-backend-sparkling-tree-1993'
primary_region = 'sin'

[build]
  [build.args]
    GO_VERSION = '1.25.4'

[[mounts]]
  source = 'data'
  destination = '/data'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'off'
  auto_start_machines = true
  min_machines_running = 1

  [http_service.concurrency]
  type = "connections"
  hard_limit = 1000
  soft_limit = 800

[[vm]]
  memory = '1gb'
  cpus = 1
  memory_mb = 1024
